- table_cell = "cell-c" + (f.object.header.position + 1).to_s + "-r" + (f.object.exercise.position + 1).to_s

%td.cell{:id => table_cell}
  = f.text_field :text, :class => 'text-field'

  = f.hidden_field :position, value: nested_child_index(f)

  = link_to icon("headphones", "white").html_safe, "#", :class => "add-audio-field"
  = link_to icon("camera","white").html_safe, "#", :class => "add-image-field"
  = link_to icon("film","white").html_safe, "#", :class => "add-video-field"

  = kaltura_audio_player(f.object)
  - if deletable_object?(f.object, 'audio')
    = (link_to icon('times', 'white'),                                |
      exercise_item_remove_audio_path(f.object),                      |
      :confirm => "Are you sure you want to delete this audio file?", |
      :method => :delete )                                            |

  = kaltura_video_player(f.object)
  - if deletable_object?(f.object, 'video')
    = (link_to icon('times', 'white'),                                |
      exercise_item_remove_video_path(f.object),                      |
      :confirm => "Are you sure you want to delete this audio file?", |
      :method => :delete )                                            |

  = kaltura_image_display(f.object)
  - if deletable_object?(f.object, 'image')
    = (link_to icon('times', 'white'),                                |
      exercise_item_remove_image_path(f.object),                      |
      :confirm => "Are you sure you want to delete this audio file?", |
      :method => :delete )                                            |

  = f.file_field :audio, :class => "hidden audio-upload-field upload-field"
  = f.file_field :image, :class => "hidden image-upload-field upload-field"
  = f.file_field :video, :class => "hidden video-upload-field upload-field"

